header {
    text-align: right;
    padding: 20px 30px;
    font-size: 20px;
}

body {
    background-color: rgb(160, 206, 217);
    color: rgb(33, 78, 52);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.intro {
    width: 50%;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 50px;
}

.intro p {
    margin: 40px 0;
    font-size: 20px;
    line-height: 2;
}

.intro button {
    font-size: 25px;
    padding: 5px 30px;
}

.quiz-box {
    width: 30%;
    margin: auto;
    position: absolute;
    top: 160px;
    left: 500px;

}

.options-wrapper button{
    margin: 10px 0;
    display: block;
    font-size: 20px;
}

.question {
    font-size: 40px;
    margin-bottom: 30px;
}

.result-good, .result-bad{
    margin-top: 30px;
    font-size: 20px;
}

.high-score-entry {
    width: 30%;
    margin: auto;
    position: absolute;
    top: 160px;
    left: 500px;
    font-size: 30px;
}

.high-score-entry h3 {
    font-size: 40px;
}

#score-received {
    font-weight: bold;
}

.form-instructions {
    font-size: 20px;
}

button {
    color: rgb(255, 255, 199);
    background-color: rgb(131, 117, 105);
    box-shadow: 3px 3px rgb(176, 65, 62);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    border: 2px solid black;
    font-size: 20px;
    background-color: rgb(131, 117, 105);
    color: rgb(255, 255, 199);
}

.high-score-entry button {
    font-size: 20px;
    box-shadow: none;
    margin-left: 15px;
}

.high-score-list {
    width: 30%;
    margin: auto;
    position: absolute;
    top: 160px;
    left: 500px;
    font-size: 30px;
}

.high-score-list h3 {
    font-size: 40px;
}